.hero-link {
  text-decoration: none;
  color: #fff;
  font-family: NittiGrotesk, sans-serif, Helvetica, Arial;
  font-size: clamp(18px, 1vw, 20px);
  line-height: 1.75;
  text-transform: uppercase;
  position: relative;
}

.hero-link::before {
  content: "";
  position: absolute;
  width: 69px;
  height: 69px;
  border: 1px solid #fff;
  border-radius: 50%;
  top: -23px;
  left: -19px;
}
