.subscribe dt {
  font-family: SaolDisplay, sans-serif, Helvetica, Arial;
  font-size: 43px;
  color: var(--white);
}

.subscribe dd {
  margin: 0 0 110px 0;
  font-family: NittiGrotesk, sans-serif, Helvetica, Arial;
  font-size: 31px;
  color: var(--grey-darken-1);
}

.main-footer .footer-info-title {
  margin-bottom: 30px;
  font-family: NittiGrotesk, sans-serif, Helvetica, Arial;
  font-size: 30px;
  color: var(--white);
}

.main-footer .footer-info-address,
.main-footer .footer-info-postcode {
  color: var(--white);
  font-size: 30px;
  font-family: NittiGrotesk-Light, sans-serif, Helvetica, Arial;
}

.no-title .menu-item:first-child {
  margin-top: 60px;
  width: auto;
}

.main-footer .menu-item {
  margin-bottom: 15px;
  max-width: 216px;
}

.main-footer .menu-item:last-child {
  margin-bottom: 0;
}

.main-footer .menu-link {
  text-decoration: none;
  color: var(--white);
  font-size: 30px;
  font-family: NittiGrotesk-Light, sans-serif, Helvetica, Arial;
}

.main-footer .menu-link.instagram {
  display: flex;
}

.main-footer .menu-link.instagram .instagram-text {
  margin-left: 10px;
}

.main-footer [class*="col-"] {
  margin-bottom: 96px;
}

.main-footer .col-3:nth-child(1) {
  margin-right: 6.04vw;
}

.main-footer .col-3:nth-child(2) {
  margin-right: 24.22vw;
}

.main-footer .col-3:nth-child(3) {
  margin-right: 15.63vw;
}

.main-footer .footer-copyright {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 56px;
}

.footer-copyright .footer-copyright-menu {
  display: flex;
  justify-content: space-between;
}

.footer-copyright-menu .menu-item {
  margin-right: 45px;
  margin-bottom: 0;
}

.footer-copyright-menu .menu-link {
  font-size: 25px;
  font-family: NittiGrotesk-Light, sans-serif, Helvetica, Arial;
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
}

.footer-copyright .copyright-link {
  text-decoration: none;
  font-family: NittiGrotesk-Light, sans-serif, Helvetica, Arial;
  font-size: 20px;
  color: var(--white);
}

/* --------contact----------- */

.contact {
  padding-bottom: 389px;
  max-width: 984px;
}

.contact .curved-text {
  width: 984px;
  height: 862px;
  padding: 276px 384px 376px 1px;
  transform: rotate(21deg);
  background-color: var(--grey-lighten-1);
}

.contact .contact-title,
.contact .contact-email,
.contact .follow-instagram {
  font-family: NittiGrotesk-Light;
  color: var(--white);
}

.contact .contact-title {
  font-size: 34px;
  margin-bottom: 15px;
}

.contact .contact-email {
  margin-bottom: 53px;
  font-size: 60px;
  text-decoration: none;
  width: fit-content;
}

.contact .follow-instagram {
  font-size: 40px;
}

.follow-instagram .instagram-link {
  text-decoration: none;
  font-family: NittiGrotesk;
  color: var(--white);
}

.follow-instagram .instagram-link .instagram-icon {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin: 0 9px 5px 12px;
}
